.header {
  display: flex;
  flex-direction: column;
  align-items: center;




  &__title {
    width: 100%;
    text-align: center;
    font-family: $font_title;
    color: $color_title;
    font-size: 25px;
    padding-bottom: 1em;


    & h2 {
      font-size: 15px;
    }
  }

  &__image {
    min-width: 375px;
    height: 100%;

    &--jpg {
      max-width: 100%;

      filter: drop-shadow(16px 16px 30px);
    }
  }
}

.underline {
  width: 30%;
  height: 3px;
  margin: auto;
  color: darkred;
  transform: translateX(-150%);
  opacity: 0;
  animation: translate_underline 1s cubic-bezier(0.19, 1, 0.22, 1) 1 1s normal both;

}

.hero {
  width: 80%;
  height: 700px;
  object-fit: cover;
  border-radius: 25px;
}