.header {
  display: flex;
  flex-direction: column;
  align-items: center;




  &__title {
    width: 100%;
    text-align: center;
    font-family: $font_title;
    color: $color_title;
    font-size: 25px;
    padding-bottom: 1em;
    background-color: rgb(83, 83, 49);

    & h2 {
      font-size: 15px;
    }
  }

  &__image {
    min-width: 375px;
    height: 100%;

    &--jpg {
      max-width: 100%;

      filter: drop-shadow(16px 16px 30px);
    }
  }
}