.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__title {
    font-family: $font-txt;
    font-size: 50px;
    text-align: center;
    padding-top: 0.5em;
  }
  &__img {
    width: 100%;
    height: auto;
    filter: drop-shadow(16px 16px 50px);
    padding-bottom: 1em;
  }
}
