* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: indie_flower;
  src: url(/public/font/Indie_Flower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: flow-ext;
  src: url(/public/font/flow-ext/Flow.otf), url(/public/font/flow-ext/Flow_B.otf);
}
.contener {
  background: linear-gradient(138deg, rgb(19, 130, 27) 15%, rgb(103, 172, 119) 39%, rgb(31, 224, 98) 76%);
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.header__title {
  font-family: indie_flower;
  color: #fdfd96;
  font-size: 50px;
  padding-top: 0.5em;
}
.header__img {
  width: 100%;
  filter: drop-shadow(16px 16px 30px);
  padding-bottom: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.menu__item--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.menu__item--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  /* & h2 {
    color: $color_title;
    font-size: $size_title;
    font-family: $font_title;
    text-align: center;
  }*/
}

.title {
  display: flex;
  font-family: indie_flower;
  color: #fdfd96;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
}
.title span {
  font-style: italic;
  font-size: 15px;
  padding-left: 1em;
}

.plat {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-family: flow-ext;
  font-size: 18px;
  color: #cd5c5c;
  background-color: rgb(173, 230, 173);
  border: 1px solid rgb(131, 98, 98);
  border-radius: 25px;
  transform: scale(1);
  transition: all 300ms;
}
.plat:active {
  transform: scale(1.2);
}
.plat__faitMaison {
  font-style: italic;
  font-size: 14px;
}
.plat__price {
  font-size: 14px;
  color: black;
}

.menu__list--plat span {
  color: #cd5c5c;
  font-size: 22px;
  font-family: flow-ext;
}

.menu__list {
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}
.menu__list--plat {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
}
.menu__list--plat p {
  text-transform: uppercase;
  font-size: 22px;
  font-family: flow-ext;
  color: #cd5c5c;
}
.menu__list--plat span {
  font-style: italic;
  font-size: 16px;
}
.menu__list h2 {
  text-align: center;
  width: 100%;
  font-family: indie_flower;
  color: #fdfd96;
  font-size: 25px;
}

.snacking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 4em;
}
.snacking h2 {
  font-family: indie_flower;
  font-size: 25px;
  color: #fdfd96;
}
.snacking p {
  font-family: flow-ext;
  font-size: 22px;
  color: #cd5c5c;
}
.snacking__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.snacking__center--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 30%;
  padding-top: 1em;
}
.snacking__center--item span {
  color: grey;
}

.snacking__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100vw;
}

.snacking__left--img {
  width: 250px;
  height: 200px;
  border: 2px solid #cd5c5c;
}

.snack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.snacking__right {
  width: 60%;
}
.snacking__right li {
  color: #cd5c5c;
  font-size: 22px;
  font-family: flow-ext;
}
.snacking__right span {
  color: grey;
  font-size: 22px;
  font-family: flow-ext;
}

footer {
  padding: 2em;
}
footer span {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
