@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: indie_flower;
  src: url(/public/font/Indie_Flower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: flow-ext;
  src: url(/public/font/flow-ext/Flow.otf), url(/public/font/flow-ext/Flow_B.otf);
}
@font-face {
  font-family: oswald;
  src: url(/public/font/Oswald/Oswald-VariableFont_wght.ttf);
}
.contener {
  background-color: #54F98D;
  min-width: 375px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.menu__item--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}
.menu__item--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.title {
  display: flex;
  font-family: oswald;
  color: #fdfd96;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
}
.title span {
  font-style: italic;
  font-size: 15px;
  padding-left: 1em;
}

.plat {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-family: oswald;
  font-size: 18px;
  color: #cd5c5c;
  background-color: white;
  border: 1px solid rgb(131, 98, 98);
  border-radius: 25px;
}
.plat__faitMaison {
  font-style: italic;
  font-size: 14px;
}
.plat__price {
  font-size: 14px;
  color: black;
}

.menu__list--plat span {
  color: #cd5c5c;
  font-size: 22px;
  font-family: oswald;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  width: 100%;
  text-align: center;
  font-family: oswald;
  color: #fdfd96;
  font-size: 25px;
  padding-bottom: 1em;
}
.header__title h2 {
  font-size: 15px;
}
.header__image {
  min-width: 375px;
  height: 100%;
}
.header__image--jpg {
  max-width: 100%;
  filter: drop-shadow(16px 16px 30px);
}

.underline {
  width: 30%;
  height: 3px;
  margin: auto;
  color: darkred;
  transform: translateX(-150%);
  opacity: 0;
  animation: translate_underline 1s cubic-bezier(0.19, 1, 0.22, 1) 1 1s normal both;
}

footer {
  padding: 2em;
}
footer span {
  font-style: italic;
}

.menu__list {
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}
.menu__list--plat {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
}
.menu__list--plat p {
  text-transform: uppercase;
  font-size: 22px;
  font-family: oswald;
  color: #cd5c5c;
}
.menu__list--plat span {
  font-style: italic;
  font-size: 16px;
}
.menu__list h2 {
  text-align: center;
  width: 100%;
  font-family: oswald;
  color: #fdfd96;
  font-size: 25px;
}

.snacking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 4em;
}
.snacking h2 {
  font-family: oswald;
  font-size: 25px;
  color: #fdfd96;
}
.snacking p {
  font-family: oswald;
  font-size: 22px;
  color: #cd5c5c;
}
.snacking__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.snacking__center--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}
.snacking__center--item span {
  color: grey;
}

.snacking__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100vw;
}

.snacking__left--img1 {
  width: 250px;
  height: 200px;
  border: 2px solid #cd5c5c;
  animation: translate_img1 3s 1s 1 normal both;
}

.snacking__left--img2 {
  width: 250px;
  height: 200px;
  border: 2px solid #cd5c5c;
  animation: translate_img2 3s 1s 1 normal both;
}

.snacking__left--img3 {
  width: 250px;
  height: 200px;
  border: 2px solid #cd5c5c;
  animation: translate_img3 3s 1s 1 normal both;
}

.snack {
  display: flex;
  align-items: center;
  gap: 1em;
}

.snacking__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.snacking__right li {
  color: #cd5c5c;
  font-size: 22px;
  font-family: oswald;
}
.snacking__right span {
  color: grey;
  font-size: 22px;
  font-family: oswald;
}

/*# sourceMappingURL=style.css.map */
