.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;

  &--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
  }

  &--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;


  }
}

.title {
  display: flex;
  font-family: $font_title;
  color: $color_title;
  font-size: $size_title;
  justify-content: space-around;
  align-items: center;

  & span {
    font-style: italic;
    font-size: 15px;
    padding-left: 1em;
  }
}

.plat {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-family: $font_txt;
  font-size: 18px;
  color: $color_txt;
  background-color: rgb(173, 230, 173);
  border: 1px solid rgb(131, 98, 98);
  border-radius: 25px;



  &__faitMaison {
    font-style: italic;
    font-size: 14px;
  }

  &__price {
    font-size: 14px;
    color: black;
  }
}

.menu__list--plat {
  & span {
    color: $color_txt;
    font-size: $size_txt;
    font-family: $font_txt;
  }
}

.sandwich {
  animation: translate_plat 2s ease-in-out 500ms 1 backwards;

}

.panini {
  animation: translate_plat 2s ease-in-out 1500ms 1 backwards;

}

.tacos {
  animation: translate_plat 2s ease-in-out 2500ms 1 backwards;

}

.assiette {
  animation: translate_plat 2s ease-in-out 3500ms 1 backwards;

}