.menu__list {
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;

  &--plat {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    font-size: 16px;
    background-color: whitesmoke;
    color: brown;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    & p {
      text-transform: uppercase;
    }
    & span {
      font-style: italic;
      font-size: 14px;
    }
  }
  & h2 {
    text-align: center;
    width: 100%;
  }
}
