.menu__list {
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;

  &--plat {
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;

    & p {
      text-transform: uppercase;
      font-size: $size_txt;
      font-family: $font_txt;
      color: $color_txt;
    }

    & span {
      font-style: italic;
      font-size: 16px;
    }
  }

  & h2 {
    text-align: center;
    width: 100%;
    font-family: $font_title;
    color: $color_title;
    font-size: $size_title;
  }
}

.plat {
  animation: translate_plat 1s 1 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

}