.snacking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 4em;

  & h2 {
    font-family: $font_title;
    font-size: $size_title;
    color: $color_title;
  }

  & p {
    font-family: $font_txt;
    font-size: $size_txt;
    color: $color_txt;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
  }
}

.snacking__center--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;

  & span {
    color: grey;
  }
}

.snacking__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100vw;
}

.snacking__left--img1 {
  width: 250px;
  height: 200px;
  border: 2px solid $color_txt;
  animation: translate_img1 3s 1s 1 normal both;

}

.snacking__left--img2 {
  width: 250px;
  height: 200px;
  border: 2px solid $color_txt;
  animation: translate_img2 3s 1s 1 normal both;

}

.snacking__left--img3 {
  width: 250px;
  height: 200px;
  border: 2px solid $color_txt;
  animation: translate_img3 3s 1s 1 normal both;

}

.snack {
  display: flex;
  align-items: center;
  gap: 1em;
}

.snacking__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  & li {
    color: $color_txt;
    font-size: $size_txt;
    font-family: $font_txt;
  }

  & span {
    color: grey;
    font-size: $size_txt;
    font-family: $font_txt;
  }
}