.snacking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 4em;

  & h2 {
    font-family: $font_title;
    font-size: $size_title;
    color: $color_title;
  }

  & p {
    font-family: $font_txt;
    font-size: $size_txt;
    color: $color_txt;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;

    &--title {
      color: darkred;
      font-family: $font_title;
      font-size: $size_title;

    }

  }
}

.snacking__center--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: white;
  padding: 2em;
  border: 1px solid black;
  border-radius: 25px;

  & h2 {
    color: $color_title;
    font-family: $font_title;
    font-size: $size_title;
  }

  & span {
    color: grey;
  }
}


.snack {
  display: flex;
  align-items: center;
  gap: 1em;

  & p {
    font-size: $size_txt;
    color: $color_txt;
    font-family: $font_txt;
  }

  & span {
    font-size: $size_txt;
    color: $color_txt;
    font-family: $font_txt;
  }
}

.snacking__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 2em;
  padding: 2em;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;


  & h2 {
    font-family: $font_title;
    font-size: $size_title;
    color: $color_title;
  }

  & li {
    color: $color_txt;
    font-size: $size_txt;
    font-family: $font_txt;
  }

  & span {
    color: grey;
    font-size: $size_txt;
    font-family: $font_txt;
  }
}