@font-face {
  font-family: indie_flower;
  src: url(/public/font/Indie_Flower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: flow-ext;
  src: url(/public/font/flow-ext/Flow.otf),
    url(/public/font/flow-ext/Flow_B.otf);
}
